In [ ]:
import pandas as pd
import numpy as np

## Scrape Wikipedia page

In [27]:
url="https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
data = pd.read_html(url)

In [28]:
df=data[0]
type(df)

pandas.core.frame.DataFrame

## Rename Postal Code to PostalCode

In [29]:
df.rename(columns={"Postal Code":"PostalCode"},inplace=True)
df.head()

  PostalCode           Borough              Neighbourhood
0        M1A      Not assigned               Not assigned
1        M2A      Not assigned               Not assigned
2        M3A        North York                  Parkwoods
3        M4A        North York           Victoria Village
4        M5A  Downtown Toronto  Regent Park, Harbourfront

In [30]:
df.shape

(180, 3)

## Manipulation Data

In [31]:
## Drop row that borough that is not assigned

In [32]:
df.drop(df[df.Borough=="Not assigned"].index,axis=0,inplace=True)

In [33]:
df.head()

  PostalCode           Borough                                Neighbourhood
2        M3A        North York                                    Parkwoods
3        M4A        North York                             Victoria Village
4        M5A  Downtown Toronto                    Regent Park, Harbourfront
5        M6A        North York             Lawrence Manor, Lawrence Heights
6        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [34]:
## Check M5A

In [35]:
df[df.PostalCode=="M5A"]

  PostalCode           Borough              Neighbourhood
4        M5A  Downtown Toronto  Regent Park, Harbourfront

In [36]:
## Check Neighbourhood is not assigned

In [37]:
df[df["Neighbourhood"]=="Not assigned"]

Empty DataFrame
Columns: [PostalCode, Borough, Neighbourhood]
Index: []

In [38]:
## Shape of df

In [39]:
df.shape

(103, 3)

In [40]:
## Getting Latitude and Longitude

In [41]:
import geocoder

In [ ]:
# initialize your variable to None
postal_code="M5A"
lat_lng_coords = None

# loop until you get the coordinates
while(lat_lng_coords is None):
    g= geocoder.google('{}, Toronto'.format(postal_code))
    lat_lng_coords = g.latlng

latitude = lat_lng_coords[0]
longitude = lat_lng_coords[1]

Geocoder don't return anything. therefore I use links to getting data.

In [42]:
geology= pd.read_csv("http://cocl.us/Geospatial_data")

In [43]:
geology.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [45]:
df1=pd.merge(df,geology,right_on='Postal Code',left_on='PostalCode')
df1.head()

,PostalCode,Borough,Neighbourhood,Postal Code,Latitude,Longitude
0,M3A,North York,Parkwoods,M3A,43.753259,-79.329656
1,M4A,North York,Victoria Village,M4A,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",M5A,43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",M6A,43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",M7A,43.662301,-79.389494

In [48]:
df1.groupby("Borough").count()

                  PostalCode  Neighbourhood  Postal Code  Latitude  Longitude
Borough
Central Toronto            9              9            9         9          9
Downtown Toronto          19             19           19        19         19
East Toronto               5              5            5         5          5
East York                  5              5            5         5          5
Etobicoke                 12             12           12        12         12
Mississauga                1              1            1         1          1
North York                24             24           24        24         24
Scarborough               17             17           17        17         17
West Toronto               6              6            6         6          6
York                       5              5            5         5          5

In [49]:
df1.groupby("Neighbourhood").count()

,PostalCode,Borough,Postal Code,Latitude,Longitude
Neighbourhood,,,,,
Agincourt,1,1,1,1,1
"Alderwood, Long Branch",1,1,1,1,1
"Bathurst Manor, Wilson Heights, Downsview North",1,1,1,1,1
Bayview Village,1,1,1,1,1
"Bedford Park, Lawrence Manor East",1,1,1,1,1
...,...,...,...,...,...
"Willowdale, Willowdale West",1,1,1,1,1
Woburn,1,1,1,1,1
Woodbine Heights,1,1,1,1,1
York Mills West,1,1,1,1,1
"York Mills, Silver Hills",1,1,1,1,1